html {
  background-image: url("bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: cover; 
  background-attachment: fixed; 
  /* background-color: #121212; */
}

.college-name {
  color: rgb(0, 183, 255);
}

.college-name::first-letter {
  color: red;
  font-size: 32px;
}

img {
  width: 256px;
  height: 256px;
  border-radius: 50%;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.timetable-container {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 16px;
  border-radius: 8px;
}
